<div class="my-14">
  <h2 class="ml-5 text-2xl font-bold mb-5">Examples</h2>
  <h3 class="ml-5 mr-5 mb-4 bg-toast-200 p-4 rounded-2xl p-4">
    ℹ All the examples are available on
    <a
      [href]="EXAMPLE_LINK"
      target="_blank"
      class="text-toast-600 hover:bg-gray-100 hover:text-toast-800 transform"
      style="transition-property: background-color, color"
      >GitHub</a
    >.
  </h3>
</div>
<section class="grid md:grid-cols-2 gap-4 max-w-4xl mx-auto mb-3">
  <div class="flex items-start h-100">
    <div class="w-full grid grid-cols-2 gap-2 bg-toast-100 rounded-xl p-4">
      <ng-container *ngFor="let example of examples">
        <app-emoji-button [btnId]="example.id" [emoji]="example.emoji" (btnClick)="click(example)" class="w-full">
          {{ example.title }}
        </app-emoji-button>
      </ng-container>
    </div>
  </div>
  <app-code containerClass="h-full w-full flex items-center overflow-auto" [snippet]="snippet" language="typescript">
  </app-code>
</section>

<ng-template #success><b>Settings saved!</b></ng-template>
<ng-template #error><b>Could not save.</b></ng-template>
<ng-template #template> Custom and <b>bold</b> </ng-template>
<div class="hidden" id="closed-event-data">{{ closedEventData | json }}</div>
